---
// import TabLocalBody from "./TabLocalBody.astro";
// import TabRemoteBody from "./TabRemoteBody.astro";
import { Generate } from "./qrcode.on-hold";
export interface Props {
  data?: string;
}

const { data = "" } = Astro.props;
---

<button
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#qrcodeModal">Use QR</button
>
<div id="reader"></div>

<div class="modal modal-lg fade" id="qrcodeModal">
  <div class="modal-dialog modal-dialog-scrollable modal-fullscreen-md-down">
    <div class="modal-content">
      <h2 class="modal-header">
        Stream Connector<button
          class="btn-close"
          data-bs-dismiss="modal"
          data-bs-target="qrcodeModal"></button>
      </h2>
      <div class="modal-body">
        <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="pills-local-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-local"
              type="button"
              role="tab"
              aria-controls="pills-local"
              aria-selected="true">Generate</button
            >
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="pills-remote-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-remote"
              type="button"
              role="tab"
              aria-controls="pills-remote"
              aria-selected="false">Scaner</button
            >
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="pills-local"
            role="tabpanel"
            aria-labelledby="pills-local-tab"
            tabindex="0"
          >
            <div class="p-3">
              <Generate client:load />
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="pills-remote"
            role="tabpanel"
            aria-labelledby="pills-remote-tab"
            tabindex="0"
          >
            <div class="p-3"></div>
          </div>
        </div>
        <div class="modal-footer">
          Footer
          <!-- <button class="btn btn-primary" data-bs-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // import { targetConnectionId } from "../nano.store";
  import { Html5QrcodeScanner } from "html5-qrcode";

  import type { Html5QrcodeResult } from "html5-qrcode/esm/core";

  import { targetConnectionId } from "../nano.store";

  function onScanSuccess(
    decodedText: string,
    decodedResult: Html5QrcodeResult
  ) {
    // handle the scanned code as you like, for example:
    alert("QR captured, you can stop scanning now");
    targetConnectionId.set(decodedText);
    console.log(`Code matched = ${decodedText}`, decodedResult);
  }

  let html5QrcodeScanner = new Html5QrcodeScanner(
    "reader",
    {
      fps: 10,
      qrbox: { width: 250, height: 450 },
    },
    false
  );
  html5QrcodeScanner.render(onScanSuccess, undefined);
</script>
