---
// import StreamSelector from "components/projects/streamer/stream.macro.Selector.astro";
// import { Call } from "components/projects/streamer/buttons";
import {
  StreamSelector,
  UserCode,
} from "components/projects/streamer/selector";
import { LocalStream } from "components/projects/streamer/video";
---

<div>
  <StreamSelector client:visible class="form-select form-select-sm" />
  <UserCode client:visible />
  <div class="div row">
    <LocalStream client:visible />
  </div>
</div>
<script></script>
