---
import { Generate, Scanner } from "../components/qrcode";
---

<button
  class="btn btn-info"
  data-bs-toggle="modal"
  data-bs-target="#qrcodeModal">Use QR</button
>

<div class="modal modal-lg fade" id="qrcodeModal">
  <div class="modal-dialog modal-dialog-scrollable modal-fullscreen-md-down">
    <div class="modal-content">
      <h2 class="modal-header">
        Stream Connector<button
          class="btn-close"
          data-bs-dismiss="modal"
          data-bs-target="qrcodeModal"></button>
      </h2>
      <div class="modal-body">
        <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="pills-local-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-local"
              type="button"
              role="tab"
              aria-controls="pills-local"
              aria-selected="true">Generate</button
            >
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="pills-remote-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-remote"
              type="button"
              role="tab"
              aria-controls="pills-remote"
              aria-selected="false">Scaner</button
            >
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="pills-local"
            role="tabpanel"
            aria-labelledby="pills-local-tab"
            tabindex="0"
          >
            <div class="p-3">
              <Generate client:visible />
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="pills-remote"
            role="tabpanel"
            aria-labelledby="pills-remote-tab"
            tabindex="0"
          >
            <div class="p-3">
              <Scanner client:visible />
            </div>
          </div>
        </div>
        <div class="modal-footer">Footer</div>
      </div>
    </div>
  </div>
</div>
