---
import BaseLayout from "../components/BaseLayout.astro";
import ButtonFire from "../components/connector/ButtonFire.astro";
import FiredModal from "../components/connector/FiredModal.astro";
// const response = await fetch(Astro.url + "queuePublish");
// const data = await response.json();
// console.log();
---

<BaseLayout title="Application">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-2 pt-4">
        <ButtonFire />
        <FiredModal />
      </div>
    </div>
    <h1>Welcome to <span class="text-gradient">CCA1year Project</span></h1>
    <!-- Modal -->
    <footer>
      <p class="instructions">
        This is our 1st sem CCA project which is a link between a camera module
        and a display. Project made by Kanishk Chaudhary, Anjnay Mahajan and
        Bhuvnesh Kumar. <br />
        <br />
        <strong>THANKYOU</strong>
      </p>
    </footer>
  </div>
</BaseLayout>
