---
import Index from "../Index.astro";
import Video from "../components/Video.astro";
import InputSelector from "../components/InputSelector.astro";
import QRcode from "../components/QRcode.astro";
import Scanner from "../components/Scanner.astro";
---

<Index title="Application">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <Scanner />
  </main>
  <InputSelector />
</Index>
