---
import BaseLayout from "components/BaseLayout.astro";
import Counter from "components/page";
---

<BaseLayout title="Testing">
  <!-- <Counter client:visible>33Hello,Solid<p>this is something</p></Counter> -->
</BaseLayout>
