---
export interface Props {}
---

<canvas width="640" height="400"></canvas>
<button>click</button>
<script>
  const video = document.getElementById(
    "localVideo"
  ) as HTMLCanvasElement | null;

  if (video != null) {
    document.querySelector("button")?.addEventListener("click", (event) => {
      document
        .querySelector("canvas")
        ?.getContext("2d")
        ?.drawImage(video, 0, 0, 640, 480);
    });
  } else {
    console.log("cannot find video element");
  }

  //  as HTMLVideoElement | null;
</script>,
