---
export interface Props {
  data: string;
}

const { data } = Astro.props;
---

<button type="button" data-input={data}>this is</button>
<div class="qr-code"></div>

<script>
  function generate(btn: HTMLButtonElement) {
    // fetch().then();
    const img = document.createElement("img");
    img.src =
      "https://api.qrserver.com/v1/create-qr-code/?" +
      new URLSearchParams({
        data: btn.dataset.input ? btn.dataset.input : "ERROR",
        size: "750x750",
      }).toString();

    document.querySelector("div.qr-code")?.appendChild(img);

    console.log("hrre");
  }
  const btn = document.querySelector("button");
  if (btn == null) {
    console.error("no button");
  } else {
    btn.addEventListener("click", (event) => {});
  }
  //   generate(btn);
</script>
