---
---

<div class="input-group">
  <input
    type="text"
    id="queueNameLocal"
    class="form-control"
    placeholder="Username"
    aria-label="Username with one button addon"
  />
  <button id="sendOfferBtn" class="btn btn-outline-secondary" type="button"
    >Send Offer</button
  >
  <!-- <button class="btn btn-outline-secondary" type="button">Check Offer</button> -->
</div>
<button class="btn btn-outline-primary m-3" type="button">Recieve Answer</button
>

<script>
  import { queueName } from "@store/CCAyear-1";

  document
    .querySelector<HTMLInputElement>("input#queueNameLocal")
    ?.addEventListener("input", (ev) => {
      queueName.set((ev.target as HTMLInputElement)?.value);
    });

  queueName.subscribe((value) => {
    const textInput = document.querySelector<HTMLInputElement>(
      "input#queueNameLocal"
    );
    if (textInput != null) {
      textInput.value = value;
    }
  });

  import { LocalConnectionResolver } from "shared/libs/connector";
  document
    .querySelector("button#sendOfferBtn")
    ?.addEventListener("click", async (ev) => {
      const LCR = new LocalConnectionResolver();
      LCR.dispatchOffer()
        .then((offer) =>
          fetch("/api/amqp_queue", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              queue: queueName.get(),
              message: offer,
            }),
          })
        )
        .then((response) => response.text)
        .then((txt) => console.log(txt));
    });
</script>
