---
---

<!-- <img class="rounded mx-auto d-block" alt="no image" /> -->
<button id="sendAnswerBtn" class="btn btn-outline-primary">Send Answer</button>
<script>
  import { RemoteConnectionResolver } from "shared/libs/connector";
  import { queueName } from "@store/CCAyear-1";
  document
    .querySelector<HTMLButtonElement>("button#sendAnswerBtn")
    ?.addEventListener("click", (ev) => {
      fetch(
        "/api/amqp_queue?" + new URLSearchParams({ queue: queueName.get() })
      )
        .then((response) => response.text())

        .then((text) => console.log(text))
        // .then((text) => new RemoteConnectionResolver().answerOffer(text))
        .then((answer) => console.log(answer));
    });
  //   fetch("/api/queueConsume", {
  //     method: "POST",
  //     headers: {
  //       "Content-Type": "application/json",
  //     },
  //     body: JSON.stringify({
  //       queueName: "codename",
  //       // message: `this is me ${document.querySelector("input")?.value}`,
  //     }),
  //   }).then(async (res) => {
  //     // console.log(res);
  //     document.querySelector("p#dataa").innerHTML = await res.text();
  //   });
  // });
</script>
